@value colorRed from '../../theme/theme.module.css';

.cardLi {
        padding: 10px;
        border: 2px solid var(--title-grey);
        border-radius: 20px;
        background: colorRed;
}

.cardLi:not(:last-child) {
        margin-bottom: 20px;
}

.cardLiInBase {
        composes: cardLi;
        background: var(--active);
}

.cardLiOutBase {
        composes: cardLi;
        background: var(--unactive);
}